<div class="ui comments">
  <div class="comment">
    <div class="content">
      <a class="author"><%= comment.user.email%></a>
      <div class="metadata">
        <div class="date"> <%= time_ago_in_words(comment.created_at)%> </div>
      </div>
      <div class="text">
        <%= comment.comment%>
      </div>
    </div>
</div>
