<div class="ui cards">
  <% @tasks.each do |task|%>
    <div class="card">
      <div class="content">
        <div class="header"><%= task.name %></div>
        <div class="description"><%= task.description %> </div>
      </div>
      <%= link_to 'View', task, class: 'ui bottom attached button' %>
    </div>
  <%end%>
</div>
