<h3 class = "ui header">Organize your tasks better with our app </h3>
<div class="ui bulleted list">
  <%= link_to 'See all tasks', tasks_path, class: "item" %>
  <div class="item">See all done tasks</div>
</div>
